<div class="page-container">
  <h2>{{ isEditMode ? "Edit Product" : "Add Product" }}</h2>
  <form (ngSubmit)="saveProduct()" #productForm="ngForm">
    <label
      >Name:
      <input
        type="text"
        [(ngModel)]="product.name"
        name="name"
        required
      /> </label
    ><br /><br />
    <label
      >SKU:
      <input
        type="text"
        [(ngModel)]="product.sku"
        name="sku"
        required
      /> </label
    ><br /><br />
    <label
      >Price:
      <input
        type="number"
        [(ngModel)]="product.price"
        name="price"
        required
      /> </label
    ><br /><br />
    <label
      >Stock:
      <input
        type="number"
        [(ngModel)]="product.stock"
        name="stock"
        required
      /> </label
    ><br /><br />
    <label
      >Description:<br />
      <textarea
        [(ngModel)]="product.description"
        name="description"
      ></textarea></label
    ><br /><br />

    <label>Category:</label>
    <select [(ngModel)]="product.category" name="category" required>
      <option value="" disabled>Select category</option>
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>

    <label>Tags (comma-separated):</label>
    <input
      type="text"
      [(ngModel)]="tagsInput"
      name="tags"
      placeholder="e.g. New, On Sale"
    />

    <button type="submit">{{ isEditMode ? "Update" : "Save" }}</button>
  </form>
</div>
